body, html { font-size: 100%; 	padding: 0; margin: 0;}
/*报价系统副本2 公共样式*/
/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body{
	font-family: "微软 ","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
	-webkit-text-size-adjust: none;
}


/*表格尺寸限制*/

#mytable  tr td{
	width:150px;
	padding:0;
	line-height:36px;
}
#mytable  tr td input{
	height: 35px;

}
#mytable  tr td:nth-child(1){
	width:220px;
}

#mytable  tr td:nth-child(6){
	display: none;
	width:30px;
	padding:0;
}


/*#bd20 td:nth-child(4){*/
	/*display: none;*/
/*}*/
#mytable  tr td:nth-child(6) button{
	padding:0;
	width:18px;
	border:0;
}



/*下拉按钮*/
#dropDown{
	float: none;
	position:absolute;
	left:50%;
	margin-left:-30px;
	height:34px;
	padding-top:6px;
	color: #e9ebea;
}


/*型号选择高度*/
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height:500px;
}


/*字编辑表格字体颜色修改*/
.astrict-number{
	color:red;
}

#xinxilan,#mytable,#bottomTable{
	font-size: 12px;
}