<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>河南晶泰光电科技有限公司</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="public/bs/js/jquery-1.11.0.min.js"></script>
    <script src="public/bs/js/bootstrap.min.js"></script>
    <script src="public/js/holder.min.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/index.css">
    <link rel="shortcut icon" href="public/img/icon/icon.png" >
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body style="padding-top:50px;">
<!--顶部导航栏-->
<!--顶部导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!--版心-->
        <div class="container top">
            <!-- 点击汉堡按钮 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--左侧logo-->
                <a class="navbar-brand navbar-left" href="#">
                    <img src="public/img/logo2.png" alt="" style="height:100%;">
                </a>
            </div>

            <!-- 手机下拉菜单 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="max-height: 600px;">
                <ul class="nav navbar-nav">
                    <li class="nav-li active"><a >首页</a></li>
                    <li class="nav-li"><a >产品</a></li>
                    <li class="nav-li"><a >帮助</a></li>
                    <li class="nav-li"><a >报价系统</a></li>
                    <li class="hidden-sm hidden-md"><a href="javascript:;" target="_blank" id="wph">定制屏幕</a></li>
                    <li><a href="wphObject/orderPage/login.html" target="_blank">客户信息</a></li>
                    <li><a href="tel:13203835589">电话咨询</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="users">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="mysql/setAccount.html" id="setAccount">修改账户</a></li>
                            <li><a href="javascript:;" id="logOut">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- 版心结束 -->
    </div>
</nav>


<!--banner栏-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <!-- 图片栏 -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="public/img/banner/jtbanner1.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="public/img/banner/jtbanner2.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="public/img/banner/jtbanner3.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="public/img/banner/jtbanner4.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="public/img/banner/jtbanner5.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--右侧广告栏 start-->
<div class="col-md-3 right_QRcode "  style="z-index:10;">
    <a href="https://shop140979949.taobao.com/?spm=a1z10.1-c.0.0.65b671aev9mowg">
        <img src="public/img/banner/QRcode3.png" alt="">
        <p>请扫描二维码联系客服</p>
        <p> <span class="glyphicon glyphicon-send"></span> 点击进入淘宝网店</p>
        <p><span class="glyphicon glyphicon-phone-alt"></span> 13203835589</p>
    </a>
</div>
<!--右侧广告栏 stop-->

<!--内容区域-->
<div class="container main-container">


    <!--左侧广告栏 start-->
    <div class="col-md-3 left_banner" >
        <div id="close_left_banner" style="float: right;">
            X
        </div>
        <a href="https://www.ledinside.cn/seminar/index/21.html" target="_blank">
            <img src="public/img/banner/left_banner.jpg" alt="">
        </a>
    </div>
    <!--左侧广告栏 stop-->




    <!--首页开始-->
    <div class="forum" style="display: block;">
        <h4 class="page-header" > &nbsp;&nbsp;&nbsp;&nbsp;▶  科技资讯</h4>
        <div class="row" id="science" style="padding-left: 5px;">
            <div class="col-md-12" v-for="item in data">
                <h4>
                    <a  :href= "hrefs+item.aid" target="_blank" class="content-title" id="scienceTitle" v-html="item.title"style="text-decoration:none;"></a>
                </h4>
                <div class="content-text" id="scienceContent"></div>
                <span class="content-date" id="scienceDate" v-html="item.adddate"></span>
            </div>
        </div>

    </div>
    <!--首页结束-->

    <!--辅材信息开始-->
    <div class="forum"  style="display:none;">
        <h4 class="page-header" > &nbsp;&nbsp;&nbsp;&nbsp;▶  最新产品</h4>
        <div class="row" id="Materials" style="padding-left: 5px;">
            <div class="col-md-12" v-for="item in data">

                <div >
                    <h4>
                        <a :href= "hrefs+item.aid" target="_blank" class="content-title" v-html="item.title"style="text-decoration:none;"></a>
                    </h4>
                    <div class="content-text" id="MaterialsContent">
                    </div>
                    <span class="content-date" v-html="item.adddate"></span>
                </div>
            </div>
        </div>
    </div>
    <!--辅材信息结束-->

    <!--使用帮助开始-->
    <div class="forum"  style="display:none;">
        <h4 class="page-header"> &nbsp;&nbsp;&nbsp;&nbsp;▶  使用帮助</h4>

        <div class="row">
            <div class="col-md-2" style="margin-top:100px;">
                <div class="list-group">
                    <a class="list-group-item active" id="greenHands">新手入门</a>
                    <a class="list-group-item" id="FAQ">常见问题</a>
                    <a class="list-group-item" href="javascript:;" id="admin">数据管理</a>
                    <a class="list-group-item" href="./admin/index.php" >后台管理</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="help-content">
                    <br>
                    <h3>PC端计算技巧</h3>
                    <img src="public/img/help/help1.jpg" alt="" style="width:100%;">
                    <br>
                    <h3>手机端计算技巧</h3>
                    <img src="public/img/help/help2.png" alt="" style="width:100%;">


                </div>
                <div class="help-content" style="display: none;">
                    <h4>一 : 每次输入所有的参数后,务必要点击提交计算或者计算报价,否则不会显示总金额</h4>
                    <img src="public/img/help/zhuyi1.jpg" alt="" width="960px">
                    <h4>二 : 编辑表格修改的范围只有单价和数量,新增加的空行编辑时仍然要按照上方逻辑.数量,单价,总价列内只允许输入数字,名称和单位列内可以是任意内容</h4>
                    <img src="public/img/help/zhuyi2.jpg" alt="" width="960px">
                    <h4>三 : 打印表单时.可根据浏览器调整参数,推荐使用谷歌及IE浏览器</h4>
                    <img src="public/img/help/zhuyi3.jpg" alt="" width="400px">
                    <br>
                    <!--<a href="javascript:;" id="admin">数据管理</a>-->
                    <!--<a href="./admin/index.php" >后台管理</a>-->
                </div>
            </div>
        </div>
    </div>
    <!--使用帮助结束-->

    <!--报价系统开始-->

    <div class="row forum" style="margin-top:15px ; display: none;">
        <div class="col-md-3">
            <div class="panel panel-danger" id="monochromeP10">
                <div class="panel-heading">单色P10</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/danseP10.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-danger" id="monochromeP375">
                <div class="panel-heading">单色P3.75</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/danse3.75.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-danger" id="monochrome5">
                <div class="panel-heading">单色5.0</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/danse5.0.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning" id="indoorColorYZL">
                <div class="panel-heading" >室内全彩压铸铝</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/snqcyzl.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success" id="indoorColorXC">
                <div class="panel-heading" >室内全彩型材</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/snqcxc.jpg" alt="" >
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success" id="outdoorColorXC">
                <div class="panel-heading" >室外全彩型材</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/swqcxc.jpg" alt="" >
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info" id="outdoorColorXT">
                <div class="panel-heading" >室外全彩箱体</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/swqcxt.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning" id="outdoorColorYZL">
                <div class="panel-heading">室外全彩压铸铝</div>
                <div class="panel-body">
                    <img src="public/img/xinghao/swqcyzl.jpg" alt="" >
                </div>
            </div>
        </div>
    </div>
    <!--报价系统结束-->


    <!--进入数据库控制台-->
    <div style="display:none;width: 300px;height:200px;background:#e3e3e3;position: fixed;left:50%;margin-left:-150px;top:10%;z-index: 100" id="rootBox">
        <h3 class="page-header" style="text-align: center;padding:7px;margin:0;background:#54606e;color: #ffffff">数据管理</h3>
        <div style="margin-left:50px;width:300px;">
            <div style="width:50px;">
                username:
            </div>
            <input type="text" style="width:200px;" id="user">
        </div>
        <div style="margin-left:50px;width:300px;">
            <div style="width:50px;">
                password:
            </div>
            <input type="password" style="width:200px;" id="pass">
        </div>
        <div style="width:100%;background:red;margin-top:10px;">
            <div style="width:100px;height:35px;background: yellow;float: left;margin-left:50px;">
                <input type="submit"  id="goAdmin" value="进 入" style="width:100%;height:100%;font-size:16px;">
            </div>
            <div style="width:100px;height:35px;background: blue;float: left;">
                <input type="submit" id="close"  value="关 闭" style="width:100%;height:100%;font-size:16px;">
            </div>
        </div>
    </div>

    <!--回到顶部-->
    <div class="gotoTop" id="goTop">
        <i class="glyphicon glyphicon-menu-up"></i>
    </div>
</div>


<!--页脚-->
<div class="footer">
    <p>河南晶泰光电科技有限公司版权所有 ©2017-2018</p>
    <p>河南晶泰光电科技有限公司运营：<a href="http://www.miitbeian.gov.cn/">豫ICP备18016214号</a></p>
</div>
<script src="public/js/index2.js"></script>
<script>


    // 右侧二维码定位
    $(document).scroll(function(){
        if($(window).scrollTop() > 590){
            $(".right_QRcode").addClass("right_QRcode_Fixed");
        }else if($(window).scrollTop() < 590){
            $(".right_QRcode").removeClass("right_QRcode_Fixed");
        }
    });


    //退出登录按钮点击后,ajax到delCookie页面,然后跳转到登录页面
    $("#logOut").click(function(){
        delCookie();
        // alert(1);
    });
    function delCookie(){
        $.ajax({
            type:"POST",
            url:"cookies/delCookie.php",
            success: function(msg){
                // alert(msg);
                location.href = "index.html ";
            },
            error:function(msg){
            }
        });
    }

    //点击显示数据管理中心登录窗口
    $("#admin").click(function(){
            $("#rootBox").show();
    });

    //点击关闭数据管理中心登录窗口
    $("#close").click(function(){
            $("#rootBox").hide();
    });



    //判断是否可以去往数据管理页面
    $("#goAdmin").click(function(){
        if($("#user").val() == 'root'&&$("#pass").val()=='root'){
            location.href = "mysql/showMysql.php";
            $("#rootBox").head();
        }
    });




    function getCookid(){
        $.ajax({
            type:"POST",
            url:"cookies/checkCookie.php",
            success: function(msg){
                if(msg == ""){
                    location.href = "login.php";
                }else{
                    $("#users").html(msg +' <span class="caret"></span>');
                }
            },
            error:function(msg){
                alert("发送失败");
            }
        });
    }
    getCookid();


    $("#goAdmin").click(function(){
        if($("#user").val() == 'root'&&$("#pass").val()=='root'){
            location.href = "mysql/showMysql.php";
            $("#rootBox").head();
        }
    });

    $("#wph").click(
        function(){
            if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
                window.location.href="wphObject/mindex.html";
            }else{
                window.location.href="wphObject/index.html";
            }
        }
    )
    //开启Vue写入
    new Vue({
        el:'#science',
        data:{data:"",hrefs:"content.html?aid="},
        beforeCreate:function(){
            var url="json.jsp";
            var _self=this;
            $.get("selectIndexContent.php",function(data){
                _self.data=eval("(" + data +")");
            })
        }
    })
    new Vue({
        el:'#Materials',
        data:{data:"",hrefs:"content.html?aid="},
        beforeCreate:function(){
            var url="json.jsp";
            var _self=this;
            $.get("MaterialsContent.php",function(data){
                _self.data=eval("(" + data +")");
            })
        }
    })


    window.onload= function(){
        // $(".content-text").text($(this).text())
        //将渲染出来的字符变成不可点击的
        for (var i = 0;i <$(".content-text").length;i++){
            $(".content-text").eq(i).text($(".content-text").eq(i).text().slice(0,120))
        }
        //将文本内容设置为一行以内
}



</script>

</body>
</html>


