body, html { font-size: 100%; 	padding: 0; margin: 0;}
/*报价系统副本2 公共样式*/
/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

/*合同备注区域*/
#shanchu1:hover{
	cursor: pointer
}
#shanchu2:hover{
	cursor: pointer
}


.clearfix:after {
	clear: both;
}

/*隐藏横向滚动条--由于画面缩放的时候会显示出横向滚动条,所以打印的时候画面比例不正确,所以隐藏横向滚动条*/
html{overflow-x:hidden}

/*设置不打印区域*/
@media print {
	.dataInput{display:none}	/*左侧栏不打印*/
	.right-show{display:none}	/*右侧栏不打印*/
	.copyright{display:none}	/*底部版权不打印*/
}


body{
	font-family: "微软 ","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
	background: url("../../../public/img/bg/bg2.jpg") center no-repeat fixed;;
	background-size: cover;
}



/*左侧开始*/
/*1.1型号选择*/
.nav{
	width: 100%;
	height: 30px;
	float: left;

}
.nav ul{
	height:100%;
	margin:0;
	padding:0;

}
.nav ul li{
	list-style:none;
	width: 100%;
	/*background: #64e9ff;*/
	color: #ef160d;
	height: 32px;
	line-height: 32px;
	text-align:center;
	margin:0;
	padding:0;

}
.nav ul li:hover{
	background: #c20001;
}
.nav ul li:hover a{
	color: white;
}
.nav ul li a{
	text-decoration: none;
	color: rgba(216, 236, 246, 0.85);
}


/*1.2输入框*/
.dataInput{
	width: 350px;
	height:100%;

	/*position:absolute;		这里由于bootstarp的原因,用定位会从底层显示出来*/
	/*left:0px;					所以我们改用float来实现输入框漂浮在左侧*/
	/*padding-top:50px;*/
	/*border-right:2px solid black;*/
	float: left;
	margin-left:-350px;
	background: rgba(35,38,37,0.4);
	position: fixed;
	color:white;
}
.inputInput{

	width: 100%;
	margin:0 auto;
	margin-top:325px;
	padding-top: 15px;
	/*padding-left:60px;*/
	/*background:red;*/
	border-top: 3px solid #b9ffff;
}
.inputInput select{
	/*margin-top:3px;*/
	width: 179px;
	height:30px;
	color: #000;
}
.inputInput input{
	/*margin-top:3px;*/
	height:30px;
	width: 179px;
	color: #000;
}
/*提示框*/
.form-horizontal .form-group{
    margin-bottom: 0px;
}
.warning span{
    display:none;
}
.warning{
	/*background:red;*/
	width: 178px;
	height: 15px;
    margin-left: 100px;
    font-size:12px;
    color: red;
}




/*1.3左侧按钮外部*/
.btn-warp{
	margin-top:20px;
	width: 120px;
	line-height:20px;
}
button{
	height: 30px;
	width: 175px;
	margin-top:10px;
}
.left-button{
	margin-left:95px;
}

/*1.4版权标识*/
.copyright{
	text-align: center;
	font-size: 12px;	/*默认字体最小为12px*/
	color: #828282;
	margin-top:30px;

}
/*左侧结束*/










/*中部开始*/
/*2.1表格标题以及内容*/

.container{
	height:100px!important;
}
.content{
	width:100%;
	background: #e9ebea;
	/*margin-left:5%;*/
	z-index:10;

}
.biaoti{
	width: 100%;
	/*标题居中*/
	text-align: center;
}
.border1 div{
	width: 200px;
	height: 2000px;
	background: red;
	float: left;
}

/* 2.2表格尺寸限制*/

#bdx1 td:nth-child(1){
	width:14.2%;
}
#mytable  tr td{
	width:150px;
}
#mytable  tr td:nth-child(6){
	display: none;
	width:58px;
	height: 30px;
	padding:0px;
	/*background:red;*/
}
#mytable  tr td:nth-child(6) div{
	/*background:red;*/

}
#mytable  tr td:nth-child(6) button{
	height:38px;
	width:38px;
	margin:0;
}
#bd20 td:nth-child(4){
	display: none;
}

/*2.2.1表格页脚*/
.table-footer{
	width:100%;
	height: 200px;
	/*background: skyblue;*/
	padding:15px;
}
.table-footer input{
	border:0px;
	outline:none;
	border-bottom:1px solid #7e8b91;
	background: #e8eae9;
	text-align: center;
	width:200px;
}
.table-footer .table-footer-right{
	float: right;
	/*margin-right:50px;*/
	/*background:red;*/
	text-align: center;
}


/*2.3 合同*/
/*2.3.1合同顶部*/
.hetong{
	height:100px;
	/*background: skyblue;*/
	display: none;
}
.hetong p{	/*合同签订方内容样式*/
	/*float: left;*/
	margin-left:30px;
	border: 0px;
	line-height:30px;
	/*background:red;*/
	position: relative;

}

.input-right1{
	position: relative;
	top: -39px;
	left:50%;
}
.input-left2{
	position: relative;
	top: -40px;
	/*left:-50%;*/
}
.input-right2{
	position: relative;
	top: -80px;
	left:50%;
}


.input-right{
	/*padding-left:120px;*/
	/*position: relative;*/
	/*left:50%;*/
	/*top:-50px;*/
}

.hetong p input{
	border:0px;
	outline:none;
	border-bottom:1px solid #7e8b91;
	background: #e8eae9;
	text-align: center;
	line-height:100%;
	width:300px;
}
/*2.3.2合同主体*/
.hetong-message{
	display: none;
}
.hetong-message p{
	padding-top: 15px;
	padding-right:30px;
}
.hetong-message p span{
	margin-left:30px;
	height: 30px;
	line-height:30px;
}
.hetong-message p span:nth-child(1){
	margin-left:-30px;
}

/*2.4.3合同主体输入框*/
.message-input{
	border:0px;
	outline:none;
	border-bottom:1px solid #7e8b91;
	background: #eeeeee;
	text-align: center;
	color: blue;
	line-height:100%;
}
.hetong-fotter span{	/*合同签订方内容样式*/
	display: inline-block;
	width:100px;
}
.hetong-fotter .warp-ht{
	display: inline-block;
	width: 48%;
	line-height: 30px;
}
.hetong-fotter .warp-ht input{
	border:0px;
	outline:none;
	border-bottom:1px solid #7e8b91;
	background: #e8eae9;
	text-align: center;
	line-height:100%;
	width:300px;
}

/*.hetong-fotter span{	!*合同签订方内容样式*!*/
	/*display: inline-block;*/
	/*width:200px;*/
/*}*/


/*中部结束*/



/*右侧开始*/
/**有的时候设置完之后页面还是没有显示,这个时候就得重新把index页面打开一次*/
/*3.1*/
.right-show{
	width: 300px;
	height: 300px;
	float:left;
	margin-left:1170px;
	/*background: white;*/
	position: fixed;/*固定定位*/
	text-align:justify;
	color: #8bff84;
	padding:30px;
}
 
/*右侧结束*/