<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="安装LED显示屏,LED显示屏安装,LED显示屏报价,LED显示屏维修">
    <meta name="description" content="晶泰光电LED显示屏报价网是一家提供LED显示屏报价,LED显示屏安装,LED显示屏维修服务的网站,为全国客户提供上门报价,安装,维修服务">
    <title>晶泰光电-上门安装LED屏,LED显示屏安装,LED显示屏报价,LED显示屏维修,晶泰光电安装</title>
    <!--引入jquery-->
    <script src="js/jquery.min.js"></script>

    <!--引入bootstrap-->
    <link rel="stylesheet" href="bs/css/bootstrap.css">
    <!--引入bootstrap.js-->
    <script src="./bs/js/bootstrap.js"></script>

    <link rel="stylesheet" href="css/index.css">
    <script src="../layui/layui.all.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">


    <!--自定义css样式需在bootstarp下方-->
    <link rel="stylesheet" href="swiper/css/swiper.min.css">
    <script src="swiper/js/swiper.js"></script>




    <!--引入城市选择插件-->
    <link rel="stylesheet" href="positions/pcPosition/css/style.css">
    <script src="positions/pcPosition/js/City_data.js"></script>
    <script src="positions/pcPosition/js/areadata.js"></script>
    <script src="positions/pcPosition/js/auto_area.js"></script>

    <!--百度地图-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=nQAAUcgM8a3crA1enfABGDh7w0bbTodI"></script>


</head>
<body>

<!--百度地图标签-->
<div id="allmap"></div>

<!--nav-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- 点击汉堡按钮 -->
        <div class="navbar-header">
            <!--左侧logo-->
            <img src="img/logo/jtlogo.png" alt="" class="jtlogo">

        </div>
        <!--右侧菜单栏-->
        <div class="collapse navbar-collapse  navbar-right">
            <ul class="nav navbar-nav" id="navs">
                <li><a href="../index.html" class="active" id="cases">首页</a></li>
                <li><a id="caseID" @click="caseID">项目案例</a></li>
                <li><a id="serviceID" @click="serviceID">服务保障</a></li>
                <li><a id="productID" @click="productID">产品展示</a></li>
                <li><a id="partnerID" @click="partnerID">合作伙伴</a></li>
                <li><a id="aboutID" @click="aboutID">了解我们</a></li>
            </ul>
        </div>
    </div>
</nav>


<!--banner-->
<section id="banner" class="topContent">
    <img src="img/page/content.jpg" class="banner">

    <!--左侧内容,如果是手机则隐藏-->
    <div class="container">
        <div class="left-pane">
            <h1>行业超越，质优显示</h1>
            <h5>信誉品牌，值得信赖</h5>

        </div>
    </div>
    <div class="inquiry-panel" id="topMessage">
        <h4>5秒获取报价</h4>
        <p class="inq-num">今天已有<span>23</span>位获取报价</p>
        <p class="pos-city">
            <span class="glyphicon glyphicon-map-marker" style="color:rgb(0,18,255);font-size: 20px;top: 5px;"></span>

            <!--<span class="currCity main-color" id="address">郑州市</span>-->
            <input id="address" type="button" class="area-danxuan" value="" data-value=""/>
        </p>
        <p class="input-title">使用场景</p>
        <div class="choose-pane" id="screenType">
            <p class="main-color choosed-option psc" id="selectd">商业广告屏</p>
            <span class="layui-icon layui-icon-down UpDown"></span>
            <ul class="options main-color" id="usageScenario">
                <li v-for="m in messages">{{m.li}}</li>
            </ul>
        </div>
        <p class="input-title">屏幕面积</p>

        <div style="width: 100%;height:65px;">
            <!--屏幕高度-->
            <div class="input-pane" style="float: left;">
                <input type="number" class="screen-high main-color" style="color: rgb(25, 105, 255);" value="4.5"
                       id="screenHeight">
                <span class="unit">m 高</span>
            </div>
            <!--乘号-->
            <span class="layui-icon layui-icon-close"
                  style="font-size:20px;position: relative;top: 8px;left: 12px;"></span>
            <!--屏幕宽度-->
            <div class="input-pane" style="float: right;">
                <input type="number" class="screen-width main-color" style="color: rgb(25, 105, 255);" value="8"
                       id="screenWidth">
                <span class="unit">m 宽</span>
            </div>
        </div>

        <p class="input-title">联系方式</p>
        <input type="tel" placeholder="用于接收报价的手机号" class="input-pane-lg phone main-color" maxlength="11" @focus="focus"
               @blur="blur" id="phoneNumner">
        <p class="errorTip">请输入正确的手机号</p>
        <button class="btn submit-inquiry get-quote-calculate" style="background-color: rgb(25, 105, 255);">开始计算
        </button>
        <div class="-swiper scroll-tips">
            <div class="swiper-wrapper scroll-tips-view">
                <p v-for="ms in messages" class="swiper-slide">{{ms.bg}}
                    <span class="main-color">{{ms.price}}</span>元
                </p>
            </div>
        </div>

    </div>
</section>


<!--项目案例-->
<section id="case" class="projectCase" style="margin-bottom:80px ">
    <div class="container" style="position:relative;">
        <h2 class="sec-title">项目案例</h2>
        <h5 class="sec-subtitle">专业案例展示</h5>
        <div class="cate-items" id="projectbtn">
            <span cid="0" class="item main-color-bg" @click="whole">所有</span>
            <span cid="1" class="item" @click="indoor">室内高清屏</span>
            <span cid="2" class="item" @click="outdoor">商业广告屏</span>
        </div>


        <div class="swiper-container case-swiper  project-swiper" style="margin-top:27px;">
            <div class="swiper-wrapper" id="projectCase">

                <div class="swiper-slide" v-for="s in projects">
                    <img :src="s.srcs" style="height:240px;width:360px;">
                    <h4 class="slide-title">
                        造价约￥&nbsp;<span class="main-color" style="color: rgb(25, 105, 255);">{{s.price}}</span>
                    </h4>
                    <p class="slide-cate">{{s.cate}}</p>
                    <p class="slide-info">{{s.info}}</p>
                </div>


            </div>
        </div>
        <!-- 黑色按钮 -->
        <div class="swiper-button-prev swiper-button-black"></div>
        <div class="swiper-button-next swiper-button-black"></div>

    </div>
</section>
<!--保障体系-->
<section id="service" class="security">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h2 class="title">四大保障体系</h2>
                <h5 class="subtitle">4大保障，放心消费</h5>
            </div>
            <div class="col-xs-4" style="padding-left: 120px;">
                <div class="service-item">
                    <span class="layui-icon layui-icon-home" style="color: rgb(25, 105, 255);"></span>
                    <h5>厂家直销</h5>
                    <p></p>
                </div>
                <div class="service-item">
                    <span class="layui-icon layui-icon-vercode" style="color: rgb(25, 105, 255);"></span>
                    <h5>快速上门安装</h5>
                    <p></p>
                </div>
            </div>
            <div class="col-xs-4" style="padding-left: 100px;">
                <div class="service-item">
                    <span class="layui-icon layui-icon-form" style="color: rgb(25, 105, 255);"></span>
                    <h5>免费报价</h5>
                    <p></p>
                </div>
                <div class="service-item">
                    <span class="layui-icon layui-icon-util"
                          style="color: rgb(25, 105, 255);"></span>
                    <h5>质量保障</h5>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--产品展示-->
<section id="product" class="productDisplay">
    <div class="container" id="productDisplay">
        <h2 class="sec-title">产品展示</h2>
        <h5 class="sec-subtitle">产品质优，行业超越</h5>
        <div class="cate-items" id="productCenter">
            <span cid="0" class="item main-color-bg" @click="whole">所有</span>
            <span cid="2" class="item" @click="smallSpacing">室内显示</span>
            <span cid="3" class="item" @click="indoor">室外显示</span>
            <span cid="1" class="item" @click="outdoor">小间距</span>
        </div>

        <div class="swiper-container product-swiper">
            <div class="swiper-wrapper" id="productShow">
                <!--使用Vue插入swiper-slide组件-->
                <div class="swiper-slide" v-for="s in sty">
                    <img :src="s.srcs">
                    <p class="slide-info">{{s.title}}</p>
                </div>
            </div>
        </div>

        <!--黑色按钮-->
        <div class="swiper-button-prev swiper-button-black"></div>
        <div class="swiper-button-next swiper-button-black"></div>
    </div>
</section>

<!--合作伙伴-->
<section id="partner" class="partners">
    <h2 class="sec-title">合作伙伴</h2>
    <h5 class="sec-subtitle">可以信赖的合作伙伴</h5>
    <img src="img/hezuohuoban/hezuohuoban.jpg" alt="合作伙伴" class="partner-img">
</section>

<!--了解我们-->
<section id="about" class="know-we">
    <h2 class="sec-title">了解我们</h2>
    <h5 class="sec-subtitle">专业团队打造卓越显示</h5>
    <div class="container about-honor">
        <h5 class="small-title">资质荣誉</h5>
        <div class="row">
            <div class="col-xs-3">
                <div class="fuck-pane">
                    <img src="img/honor/zhengshu1.jpg" alt="证书">
                    <p></p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="fuck-pane">
                    <img src="img/honor/zhengshu2.jpg" alt="证书">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container about-info">
        <h5 class="small-title">公司规模</h5>
        <div class="col-xs-6 left-pane">
            <img src="img/logo/facePhoto.jpg" alt="头像" width="77"
                 class="user-avatar">
            <div class="law-man"><p>法人代表</p> <h5>张鑫</h5></div>
            <div class="com-pane-3"><p>注册资金</p> <h5>1010万元</h5></div>
            <div class="com-pane-3"><p>注册时间</p> <h5>2015-09-02</h5></div>
            <div class="com-pane-3"><p>人员规模</p> <h5>40~99人</h5></div>
        </div>
        <div class="col-xs-6 swiper-pane">
            <div class="swiper-containe com-swiper">
                <div class="swiper-wrapper" id="companyPicture">
                    <!--使用Vue插入swiper-slide组件-->
                    <div v-for="s in styles" :class="s.cls">
                        <h6 class="slide-title">{{s.tit}}</h6>
                        <img :src="s.st">
                    </div>
                </div>
                <!--创建分页器-->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

<!--页脚-->
<footer id="footer" class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 nav-links xmal">
                <h6>项目案例</h6>
                <p cid="0">所有案例</p>
                <p cid="2">室内高清屏</p>
                <p cid="1">商业广告屏</p></div>

            <div class="col-xs-2 nav-links cpzs" style="padding-left: 50px;">
                <h6>产品展示</h6>
                <p cid="0">所有产品</p>
                <p cid="2">室内显示</p>
                <p cid="3">室外显示</p>
                <p cid="1">小间距</p></div>
            <div class="col-xs-2 nav-links ljwm" style="padding-left: 60px;">
                <h6>了解我们</h6>
                <p data-href=".about-honor">资质荣誉</p>
                <p data-href=".about-info">公司规模</p>
            </div>
            <div class="col-xs-12">
                <img src="img/logo/logo.png" alt="logo"
                     class="footer-logo">
                <div class="comInfo">
                    <h6>河南晶泰光电科技有限公司</h6>
                    <p><span>地址：郑州市郑东新区通泰路东宏伟街南中力七里湾5号楼113号</span> <span>&nbsp;&nbsp; 豫ICP备16034273号-2</span></p>
                </div>
            </div>
        </div>
        <div class="service"><h6>客服热线：</h6>
            <p>周一至周日 9:00-22:00</p>
            <strong>
                <span class="iconfont icon-dianhua"></span>
                130-2771-2540
            </strong>
        </div>
    </div>
</footer>

<!--底部获取报价窗口-->
<div id="InquiryBottom" class="phone-window">
    <div class="container">
        <div class="cityLocation ">
            <span class="glyphicon glyphicon-map-marker" style="color:rgb(0,18,255);font-size: 20px;top:5px;"></span>
            <!--<span class="currCity-bottom" id="place">郑州市</span>-->
            <input id="place" type="button" class="area-danxuan" value="郑州" data-value=""/>
            <img src="img/page/inquiry-tip.png" class="tip-img">
        </div>
        <input maxlength="11" placeholder="请输入您的手机号" class="phone-bottom" id="contact">
        <button class="btn main-color-bg make-an-inquiry" style="background-color: rgb(25, 105, 255);">询价
        </button>

        <span class="errorTip">请输入正确的手机号</span>
    </div>
</div>


<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<!--vue脚本要先渲染出来才能执行index.js中的swiper效果,所以在index.js上方-->
<script src="Vue/indexVue.js"></script>

<!--自定义JS特效-->
<script src="js/index.js"></script>

<!--自定义swiper特效-->
<script src="swiper/indexSwiper.js"></script>

<!--移动端和PC端跳转-->
<script>
    //	移动端端进行判断:如果浏览器属性匹配移动端,那么就跳转到移动端,如果不是,那么就return false
    $(document).ready(function () {
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            window.location.href = "./mindex.html";
        } else {
            return false;
        }
    });

</script>

<!--地理定位-->
<script>
    function getLocation() {
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(116.331398, 39.897445);
        // map.centerAndZoom(point,10);

        var str = "";

        function myFun(result) {
            var cityName = result.name;
            map.setCenter(cityName);
            str = cityName;
        }

        var myCity = new BMap.LocalCity();
        myCity.get(myFun);


        //提示层
        layer.msg("定位中");
        setTimeout(function () {
            layer.alert('当前定位城市为 ：'+str, {
                skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅

            })
            $("#address").val(str);
        }, 2000)
    }

    getLocation()
</script>


</body>

</html>