<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="安装LED显示屏,LED显示屏安装,LED显示屏报价,LED显示屏维修">
    <meta name="description" content="晶泰光电LED显示屏报价网是一家提供LED显示屏报价,LED显示屏安装,LED显示屏维修服务的网站,为全国客户提供上门报价,安装,维修服务">
    <title>晶泰光电-上门安装LED屏,LED显示屏安装,LED显示屏报价,LED显示屏维修,晶泰光电安装</title>

    <!--引入jquery-->
    <script src="js/jquery.min.js"></script>

    <!--引入bootstrap-->
    <link rel="stylesheet" href="bs/css/bootstrap.css">
    <!--引入bootstrap.js-->
    <script src="./bs/js/bootstrap.js"></script>

    <!--自定义css样式需在bootstarp下方-->
    <link rel="stylesheet" href="css/mindex.css">
    <link rel="stylesheet" href="swiper/css/swiper.min.css">
    <script src="swiper/js/swiper.js"></script>

    <!--引入layUI的CSS-->
    <link rel="stylesheet" href="./layui/css/layui.css">
    <!--引入layUI的所有包含JS,使用jquery做依赖-->
    <script src="./layui/layui.all.js"></script>

    <!--引入城市定位插件-->
    <script src="positions/mobilePosition/js/LArea.js"></script>
    <script src="positions/mobilePosition/js/LAreaData1.js"></script>
    <link rel="stylesheet" href="positions/mobilePosition/css/LArea.css">

    <!--百度地图-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=nQAAUcgM8a3crA1enfABGDh7w0bbTodI"></script>

</head>
<body style="overflow-x: hidden">

<!--百度地图标签-->
<div id="allmap"></div>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- 点击汉堡按钮 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="padding:5px;">
                <span type="button"  class=" glyphicon glyphicon-menu-hamburger" style="width:30px;font-size: 18px;"></span>
            </button>

            <!--左侧logo-->
            <img src="img/logo/jtlogo.png" alt="" class="jtlogo">
        </div>
        <!--右侧菜单栏-->
        <div class="collapse navbar-collapse  navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="navs">
                <li><a href="../backLogin.html" class="active" id="cases">首页</a></li>
                <li><a id="caseID" @click="caseID">项目案例</a></li>
                <li><a id="serviceID" @click="serviceID">服务保障</a></li>
                <li><a id="productID" @click="productID">产品展示</a></li>
                <li><a id="partnerID" @click="partnerID">合作伙伴</a></li>
                <li><a id="aboutID" @click="aboutID">了解我们</a></li>
                <li style="height:100px;">
                    <div class="btns"  style="width:60px;height:60px;border-radius:60px;background:#ffa538;margin:0 auto;">
                        <a href="tel:13203835589">
                            <span class="glyphicon glyphicon-earphone"  style="font-size:40px;color: #fff;margin:10px;"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--banner-->
<section id="banner" class="topContent">

    <div class="inquiry-panel" id="topMessage">
        <h2 class="font_semibold">行业超越，质优显示</h2>
        <p class="font_regular">信誉品牌，值得信赖</p>
        <div class="get_price">
            <h4>5秒获取报价</h4>
            <p class="inq-num">今天已有<span style="color: rgb(0,0,0);">23</span>位获取报价</p>
            <p class="pos-city">
                <!--<span class="glyphicon glyphicon-map-marker" style="color:rgb(55,124,255);font-size: 16px;top: 2px;"></span>-->
                <!--<span class="currCity main-color" id="address">郑州市</span></p>-->
            <div class="content-block">
            <span class="glyphicon glyphicon-map-marker" style="color:rgb(55,124,255);font-size: 16px;top: 2px;"></span>
                <input  id="address" type="button" readonly="" placeholder="城市选择特效"  value="">
            </div>
            <p class="input-title">使用场景</p>
            <div class="choose-pane ">
                <p class="main-color choosed-option psc" id="selectd">商业广告屏</p>
                <span class="layui-icon layui-icon-down UpDown"></span>
                <ul class="options main-color" id="usageScenario">
                    <li  v-for="m in messages">{{m.li}}</li>
                </ul>
            </div>
            <p class="input-title" >屏幕面积</p>

            <div style="width:100%;height: 50px;">
                <div class="input-pane" style="float: left;">
                    <input type="number" class="screen-high main-color" style="color: rgb(25, 105, 255);" value="4.5" id="screenHeight">
                    <span class="unit">m 高</span>
                </div>

                <!--乘号-->
                <span class="layui-icon layui-icon-close" style="font-size:20px;position: relative;top: 8px;left: 12px;"></span>
                <div class="input-pane" style="float: right;">
                    <input type="number" class="screen-width main-color" style="color: rgb(25, 105, 255);" value="8" id="screenWidth">
                    <span class="unit">m 宽</span>
                </div>
            </div>

            <div style="width:100%;height:20px;text-align: left;overflow: hidden;">
                <p class="input-title">联系方式</p>
            </div>
            <input type="tel" placeholder="用于接收报价的手机号" class="input-pane-lg phone main-color" maxlength="11" id="phoneNumner">
            <p class="errorTip">请输入正确的手机号</p>
            <button class="btn submit-inquiry main-color-bg get-quote-calculate" style="background-color: rgb(25, 105, 255);">开始计算
            </button>
            <div class="-swiper swiper-container">
                <div class="swiper-wrapper" style="height:20px;text-align: center;">
                    <p class="swiper-slide" style="height:100%;"  v-for="ms in messages">{{ms.bg}}
                        <span class="main-color">{{ms.price}}</span>元
                    </p>
                </div>
            </div>
    </div>
    </div>
</section>

<!--项目案例-->
<section id="case" class="projectCase">
    <div class="container" style="position:relative;">
        <h2 class="sec-title">项目案例</h2>
        <h5 class="sec-subtitle">专业案例展示</h5>
        <div class="cate-items" id="projectbtn">
            <span @click="whole" class="item main-color-bg">所有</span>
            <span @click="indoor" class="item">室内高清屏</span>
            <span @click="outdoor" class="item">商业广告屏</span>
        </div>

        <div class="swiper-container case-swiper" style="margin-top:25px;">
            <div class="swiper-wrapper" id="projectCase">
                <div class="swiper-slide" v-for="s in projects">
                    <img :src="s.srcs" style="width:100%; height:240px;">
                    <h4 class="slide-title">
                        造价约￥&nbsp;<span class="main-color" style="color: rgb(25, 105, 255);">{{s.price}}</span>
                    </h4>
                    <p class="slide-cate">{{s.cate}}</p>
                    <p class="slide-info">{{s.info}}</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!--保障体系-->
<section id="service" class="security">
    <div class="container">
        <div >
            <h2 class="title">四大保障体系</h2>
            <h5 class="subtitle">4大保障，放心消费</h5>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="service-item">
                    <span class="layui-icon layui-icon-home" style="color: rgb(25, 105, 255);"></span>
                    <h5>厂家直销</h5>
                </div>
                <div class="service-item">
                    <span class="layui-icon layui-icon-vercode" style="color: rgb(25, 105, 255);"></span>
                    <h5>快速上门安装</h5>
                </div>
            </div>
            <div class="col-xs-6" >
                <div class="service-item">
                    <span class="layui-icon layui-icon-form" style="color: rgb(25, 105, 255);"></span>
                    <h5>免费报价</h5>
                </div>
                <div class="service-item">
                    <span class="layui-icon layui-icon-util"
                          style="color: rgb(25, 105, 255);"></span>
                    <h5>质量保障</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!--产品展示-->
<section id="product" class="productDisplay">
    <div class="container" id="productDisplay">
        <h2 class="sec-title">产品展示</h2>
        <h5 class="sec-subtitle">产品质优，行业超越</h5>
        <div class="cate-items" id="productCenter">
            <span @click="whole" class="item main-color-bg">所有</span>
            <span @click="smallSpacing" class="item">室内显示</span>
            <span @click="indoor" class="item">室外显示</span>
            <span @click="outdoor" class="item">小间距</span>
        </div>

        <div class="swiper-container product-swiper">
            <div class="swiper-wrapper" id="productShow">
                <!--使用Vue插入swiper-slide组件-->
                <div class="swiper-slide" v-for="s in sty">
                    <img :src="s.srcs">
                    <p class="slide-info">{{s.title}}</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!--合作伙伴-->
<section id="partner" class="partners">
    <h2 class="sec-title">合作伙伴</h2>
    <h5 class="sec-subtitle">可以信赖的合作伙伴</h5>
    <div class="partner_img">
        <img src="img/hezuohuoban/hezuohuoban.jpg" alt="合作伙伴">
    </div>
</section>

<!--了解我们-->
<section id="about" class="know-we">
    <h2 class="sec-title">了解我们</h2>
    <h5 class="sec-subtitle">专业团队打造卓越显示</h5>
    <div class="container about-honor" style="width:100%;height:100%;">
        <h5 class="small-title">资质荣誉</h5>

        <!--资质荣誉滚动-->
        <div class="swiper-container sw" >
            <div class="swiper-wrapper" id="app">
                <div v-for="cs in styles" :class="cls">
                    <img :src="cs.st" alt="">
                </div>

            </div>
        </div>
    </div>


    <div class="container about-info">
        <h5 class="small-title">公司规模</h5>

        <!--公司展示滚动-->
        <div class="swiper-pane" >
            <div class="swiper-containe com-swiper">
                <div class="swiper-wrapper" id="app2">
                    <!--使用Vue插入swiper-slide组件-->
                    <div v-for="s in styles" :class="s.cls">
                        <h6 class="slide-title">{{s.tit}}</h6>
                        <img :src="s.st">
                    </div>
                </div>

            </div>
        </div>

        <!--法人代表-->
        <div class="leftPortrait">
            <div class="left-pane">
                <div class="law-man">
                    <div style="width:60px;height:60px;float: left;">
                        <img src="img/logo/facePhoto.jpg" alt="头像"
                             class="user-avatar">
                    </div>

                    <div  class="legalPerson">
                        <p>法人代表</p>
                        <h5>张鑫</h5>
                    </div>
                </div>
                <ul class="company_info">
                    <li>
                        <p>注册资金<span class="company_info_money">1010万元</span></p>
                    </li>
                    <li>
                        <p>注册时间<span class="company_info_time">2015-09-02</span></p>
                    </li>
                    <li style="padding-left: .2rem;box-sizing: border-box;">
                        <p>人员规模<span class="company_info_people">40~99人</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--页脚-->
<div class="footer">
    <ul class="customer_service">
        <li class="customer_service_title">客服热线：</li>
        <li class="customer_service_time">周一至周日 9:00-22:00</li>
        <li class="customer_service_num">
            <i class="glyphicon glyphicon-earphone"></i>
            <a href="tel:13203835589">13203835589</a>
        </li>
    </ul>
    <div class="preparation_number">
        <span class="font_semibold">河南晶泰光电科技有限公司</span>
        <p class="font_light">  豫ICP备16034273号-2</p>
    </div>
</div>



<!--底部获取报价窗口-->
<div id="InquiryBottom" class="phone-window">
    <div style="width:70%;height:100%;margin:0 auto;">
        <a href="tel:13027712540">
            <button class="btn btn-primary">电话咨询</button>
        </a>
        <button class="btn btn-warning" id="getPrice">获取报价</button>
    </div>
</div>

<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<!--引入自定义Vue脚本文件（Vue文件一定要在swiper前面，因为swiper 的依赖vue渲染后的数据）-->
<script src="Vue/mindexVue.js"></script>

<!--自定义JS特效-->
<script src="js/mindex.js"></script>

<!--引入自定义swiper脚本文件-->
<script src="swiper/mindexSwiper.js"></script>

<!--移动端和PC端跳转-->
<script>
    //	移动端端进行判断:如果浏览器属性匹配移动端,那么就跳转到移动端,如果不是,那么就return false
    $(document).ready(function(){
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            return false;
        }else{
            window.location.href="./index.html";
        }
    });
    //点击获取报价就回到顶部
    $("#getPrice").click(function(){
        $('body,html').animate({scrollTop:0},500);
    })

</script>

<script>
    var area1 = new LArea();
    area1.init({
        'trigger': '#address', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
        'valueTo': '#value1', //选择完毕后id属性输出到该位置
        'keys': {
            id: 'id',
            name: 'name'
        }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
        'type': 1, //数据源类型
        'data': LAreaData //数据源
    });
    area1.value=[32,0,0];//控制初始位置，注意：该方法并不会影响到input的value

</script>

<!--地理定位-->
<script>
    function getLocation() {
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(116.331398, 39.897445);
        // map.centerAndZoom(point,10);

        var str = "";

        function myFun(result) {
            var cityName = result.name;
            map.setCenter(cityName);
            str = cityName;
        }

        var myCity = new BMap.LocalCity();
        myCity.get(myFun);


        //提示层
        layer.msg("定位中");
        setTimeout(function () {
            layer.alert('当前定位城市为 ：'+str, {
                skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅

            })
            $("#address").val(str);
        }, 2000)

    }
    getLocation()
</script>
</body>
</html>
